<div class="dashboard-container">
  <div class="overview-section">
    <h2>Dashboard Overview</h2>

    <div class="search-bar">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Search by Description"
        class="search-input">

      <input
        type="number"
        [(ngModel)]="amount"
        placeholder="Search by Amount"
        class="search-input">

      <input
        type="number"
        [(ngModel)]="price"
        placeholder="Search by Price"
        class="search-input">

      <button
        (click)="onSearch()"
        class="search-btn">Search</button>
    </div>


  </div>
  <div class="total-expenses">
    <h3>Total Expenses: {{ totalExpenses | currency }}</h3>
  </div>



  <div class="expense-table-container">
    <h3>Current Expenses</h3>
    <table class="expense-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Total Price</th>
        <th>Created At</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let expense of expenses">
        <td>{{ expense.id }}</td>
        <td>{{ expense.description }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.price | currency }}</td>
        <td>{{ expense.totalPrice | currency }}</td>
        <td>{{ expense.updatedAt | date:'short' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
