<div class="expense-form-container">
  <div class="form-card">
    <h2 class="form-title">{{ isEditing ? 'Update' : 'Add' }} Expense</h2>

    <form (ngSubmit)="saveExpense()" class="expense-form">
      <div class="form-field">
        <label for="description">Description</label>
        <input
          type="text"
          id="description"
          [(ngModel)]="expense.description"
          name="description"
          class="input-field"
          placeholder="E.g. Grocery Shopping"
          required
        />
      </div>

      <div class="form-field">
        <label for="amount">Amount</label>
        <input
          type="number"
          id="amount"
          [(ngModel)]="expense.amount"
          name="amount"
          class="input-field"
          placeholder="E.g. 100.50"
          required
        />
      </div>

     <div class="form-field">
        <label for="pricePerItem">Price per Amount</label>
        <input
          type="number"
          id="pricePerItem"
          [(ngModel)]="expense.price"
          name="pricePerItem"
          class="input-field"
          placeholder="E.g. 5.00"
          required
        />
      </div>



      <div class="action-buttons">
        <button
          type="submit"
          class="submit-button">
          {{ isEditing ? 'Update Expense' : 'Add Expense' }}
        </button>

        <button
          *ngIf="isEditing"
          type="button"
          class="delete-button"
          (click)="deleteExpense()">
          Delete Expense
        </button>
      </div>
    </form>
  </div>
</div>
<button class="total-price-button" (click)="getTotalPrice()">Refresh Total Price</button>

<p *ngIf="totalPrice !== null">
  Total Price of All Expenses: {{ totalPrice | currency }}
</p>

<div class="expense-list-container">
  <h3>Expense List</h3>
  <ul>
    <li *ngFor="let expense of expenses">
      <span>{{ expense.description }} - {{ expense.amount | currency }} x {{ expense.price | currency }} = {{ expense.totalPrice | currency }}</span>

      <button (click)="editExpense(expense)">Edit</button>
    </li>
  </ul>
</div>
